/* Game Page */

* {
    box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: #4286f4;

    font-family: 'Ubuntu', sans-serif;
}

.img-container {
    display: flex;
  	justify-content: center;
  	align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#multiplier {
	position: absolute;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 10px;
}

.multiplier-text {
	position: absolute;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: blue;
    z-index: 10;
}

#duck {
	/*width: 250px;*/
	height: 250px;
	object-fit: cover;
	margin-top: 20px;
	border-radius: 25%;
}

#duck:hover {
	cursor: pointer;
}

#duck:active {
	-webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.duck-fixed {

}

.shop-icon {
	width: 50px;
	height: 50px;
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#rubber-duck-div {
	position: absolute;
}

#rubber-duck-div:hover, button:hover, input:hover, label:hover {
	cursor: pointer;
}

.rubber-duck {
	position: relative;
	width: 50px;
    height: 50px;
    z-index: 10;
}

.quacks, .options {
	margin: 0 auto;
	text-align: center;
}

ul {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: #8963f2;
	border: 2px solid #3b2182;
	width: 240px;
}

li {
	/*display: inline-block;*/
}

.button-holder {
	text-align: center;
}

.my-button {
	width: 220px;
}

.item-title {
	text-align: center;
	margin-bottom: 5px;
}

.left {
	float: left;
	padding-right: 20px;
}

.right {
	float: right;
	text-align: right;
}

.item-amount {
	display: inline;
	border: 1px solid black;
}

.item-text {
	display: inline-block;
	text-align: right;
}

.item-text h3 {
	text-align: right;
}

.title {
	border-bottom: 2px solid #3b2182;
	border-top: 2px solid #3b2182;
	text-align: center;
}

.description-text {
	text-align: center;
}