.img-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#multiplier {
	position: absolute;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 10px;
}

.multiplier-text {
	position: absolute;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: blue;
}

#duck {
	/*width: 250px;*/
	height: 250px;
	object-fit: cover;
}

#quack-num, #quacks-per-second {
	text-align: center;
}

.shop-icon {
	width: 50px;
	height: 50px;
}