.img-container {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#multiplier {
	position: absolute;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 10px;
}

.multiplier-text {
	position: absolute;
	-moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: blue;
}

#duck {
	/*width: 250px;*/
	height: 250px;
	object-fit: cover;
}

.shop-icon {
	width: 50px;
	height: 50px;
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#rubber-duck-div {
	position: absolute;
}

#rubber-duck {
	position: relative;
	border: 1px solid black;
	width: 100px;
    height: 100px;
}

.quacks, .options {
	margin: 0 auto;
	text-align: center;
}

ul {
	text-align: center;
	padding: 0;
}

li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
}

.title {
	border: 1px solid black;
}

.shop {
	text-decoration: underline;
}